ZINC_CLUSTER_PROXY_LOG_DIR=./log
ZINC_CLUSTER_PROXY_HOST=0.0.0.0
ZINC_CLUSTER_PROXY_PORT=4082
ZINC_SERVER_MODE=proxy
ZINC_ETCD_ENDPOINTS=127.0.0.1:2379
ZINC_ETCD_PREFIX=/zinc
ZINC_MAX_DOCUMENT_SIZE=1m
ZINC_CLUSTER_MANAGER_ADDR=127.0.0.1:4081